.container {
    display: flex;
    width: min(620px, 80%)
}

.container input {
    width: 100%;
    font-size: 2rem;
    padding: 10px;
    border: 1px solid var(--color-primary);
}

.container input:focus {
    outline: none
}

.container button {
    width: 80px;
    font-size: 40px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
}

.container button:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
}