.container {
    display: flex;
    /* align-items: center; */
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
    border: 1px solid black ;
}

.textContainer {
   flex: 1;
   display: flex;
   align-items: center;
   margin-right: 20px;
}

.textContainer p {
    font-size: 1.3rem;
}

.container button {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.container button:hover {
    background-color: var(--color-primary-light);
    cursor: pointer;
}